# Python
__pycache__/
*.py[cod]
*.env
.venv/
venv/
*.sqlite3
instance/
*.db

# Alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
